[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.4"

[packages]
"asn1crypto" = "==0.23.0"
attrs = "==17.2.0"
cffi = "==1.11.2"
constantly = "==15.1.0"
cryptography = "==2.1.1"
cssselect = "==1.0.1"
hyperlink = "==17.3.1"
idna = "==2.6"
incremental = "==17.5.0"
lxml = "==4.1.0"
parsel = "==1.2.0"
"pyasn1" = "==0.3.7"
"pyasn1-modules" = "==0.1.5"
pycparser = "==2.18"
queuelib = "==1.4.2"
six = "==1.11.0"
"w3lib" = "==1.18.0"
"zope.interface" = "==4.4.3"
Automat = "==0.6.0"
PyDispatcher = "==2.0.5"
pyOpenSSL = "==17.3.0"
Scrapy = "==1.4.0"
service_identity = "==17.0.0"
Twisted = "==17.9.0"
image = "*"
dj-redis-url = "*"
txredisapi = "*"
treq = "*"
dj-database-url = "*"
mysqlclient = "*"

[dev-packages]
