[Unit]
Description=Scrapyrt service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/environment/scrapybook-2nd-edition/ch06/01/simple
ExecStart=/home/ec2-user/.local/bin/scrapyrt --ip=0.0.0.0

[Install]
WantedBy=multi-user.target
